<div id="container">
<h1>Welcome to EPIC SWAP</h1>

<p>A place for people to find others who want to share teaching, learning, fun and adventures.</p>
Meet the team behind EPIC SWAP:<br>
<img src="">
<%= link_to "Lyndsey", "https://github.com/LyndseyWilliams" %><br>
<%= link_to "Namrata", "https://github.com/LoveRuby" %><br>
<%= link_to "Nathan", "https://github.com/NathanSass" %><br>
<%= link_to "Ravi", "https://github.com/rramphal" %><br>
<%= link_to "Tyler", " https://github.com/tylerstauss" %><br>
</div>

<a href='https://www.mapbox.com/about/maps/' target='_blank'>Maps &copy; Mapbox &copy; OpenStreetMap</a>
