<%= form_for @user, remote: true do |f| %>
  <table>
    <tr>
      <td><span class="table_header"><%= f.label :street %></span></td>
      <td><%= f.text_field :street, required: true %></td>
    </tr>
    <tr>
      <td><span class="table_header"><%= f.label :city %></span></td>
      <td><%= f.text_field :city, required: true %></td>
    </tr>
    <tr>
      <td><span class="table_header"><%= f.label :state %></span></td>
      <td><%= f.text_field :state, required: true %></td>
    </tr>
    <tr>
      <td><span class="table_header"><%= f.label :tagline, :size => '140' %></span></td>
      <td><%= f.text_field :tagline, placeholder: "Eager to learn to ski!"%></td>
    </tr>
    <tr>
      <td><span class="table_header"><%= f.label :description, "Bio" %></span></td>
      <td><%= f.text_area :description, cols: 30, rows: 4, placeholder: "I've been playing basketball for 20 years and also am a senior web developer." %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="center"><%= f.submit  %></td>
    </tr>
  </table>
<% end %>
