<div id="container" class="user-page">
  <div id="user-page">
    <div id="user-profile">
      <table id="user-profile-table">
        <tr>
          <td id="user-image-cell"><img id="user-image" src="<%= @user.image %>"></td>
          <td>
            <div class="user-name"><%= @user.name %></div>
            <div class="tagline"><%= @user.tagline %></div>
          </td>
        </tr>
        <tr>
          <td id="user-functions">
            <% if current_user == @user %>

              <div id="edit-profile-link"><%= link_to "Edit Profile", edit_user_path(@user), class: 'edit-profile-link'  %></div>

              <div id="delete-profile-link"><%= link_to "Delete Profile", user_path, confirm: "Are you sure you want to delete your profile?", method: :delete %></div>

              <div class='edit-user-form hidden'>
                <%= render 'shared/edit_profile' %>
              </div>

            <% else %>

              <span><%= @distance %> miles away</span>

              <div><%= mail_to @user.email, "Email", subject: "EpicSwap - Meetup Request" %></div>

              <%= render '/shared/reputation' %>

            <% end %>
          </td>
          <td id="bio"><div class="description">BIO: <%= @user.description %></div></td>
        </tr>
      </table>
    </div>

    <%= render 'shared/user_skills' %>

    <% if current_user == @user && @user.less_than_max? %>
      <%= link_to 'Add a Skill', '#', id: 'add_skill_link' %>
      <%= render 'shared/skills_form' %>
    <% elsif current_user == @user%>
      <p>You can have a maximum of 3 skills</p>
    <% end %>

    <%= render 'shared/user_interests' %>

    <% if current_user == @user %>
      <%= link_to 'Add an Interest', '#', id: 'add_interest_link' %>
      <%= render 'shared/interests_form' %>
    <% end %>

    <%= button_to "Map", root_path, id: "map_button", method: :get %>
  </div>
</div>