<div id="container" class="user-page">
  <div id="user-page">
    <div id="user-profile">
      <img id="user-image" src="<%= @user.image %>">
      <div class="user-name"><%= @user.name %></div>
      <div class="tagline"><%= @user.tagline %></div>
      <div id="user-functions">
        <div class="description"> <%= @user.description %></div>

        <% if current_user == @user %>
          <div id="edit-profile-link"><%= link_to "Edit Profile", edit_user_path(@user), class: 'edit-profile-link' %></div>

          <div id="delete-profile-link"><%= link_to "Delete Profile", user_path, confirm: "Are you sure you want to delete your profile?", method: :delete %></div>

          <div class='edit-user-form hidden'>
            <%= render 'users/edit_profile' %>
          </div>
        <% end %>

        <% if current_user != @user %>
          <span><%= @distance %> miles away</span>

          <div><%= mail_to @user.email, "Email", subject: "EpicSwap - Meetup Request" %></div>

          <%= render '/users/reputation' %>
        <% end %>
      </div>

    <%= render 'users/user_skills' %>

    <%= link_to 'See all skills', skills_path%>
    <% if current_user == @user && @user.less_than_max? %>
      <%= link_to 'Add a Skill', '#', id: 'add_skill_link' %>
      <%= render 'skills/skills_form' %>
      <p class='max_skills' id='max_skills_dynamic'></p>
    <% elsif current_user == @user%>
      <p class='max_skills'>You can have a maximum of 3 skills</p>
    <% end %>

    <%= render 'users/user_interests' %>

    <%= link_to 'See all interests', interests_path%>
    <% if current_user == @user %>
      <%= link_to 'Add an Interest', '#', id: 'add_interest_link' %>
      <%= render 'interests/interests_form' %>
    <% end %>

    <%= button_to "Map", root_path, id: "map_button", method: :get %>
  </div>
</div>