 <h1><%= @user.name %></h1>
<img src="<%= @user.image %>">
<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
  <%= link_to "Delete Profile", edit_user_path(@user), confirm: "Are you sure you want to delete your profile?" %>
  <% else %>
    <p><%= @user.name %> is <%= @distance %> miles away.</p>
<% end %>
<h3><%= @user.tagline %></h3>
<p><%= @user.description %></p>
<div>
  <%= @user.email %><br>
  <%= @user.street %><br>
  <%= @user.city %><br>
  <%= @user.state %><br>
  <%= @user.zip%><br>
  <%= @user.latitude %><br>
  <%= @user.longitude %><br>

</div>

<h2>My Skills</h2>
<ul>
  <% @user.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>

<p>Add a skill</p>
<%= render 'shared/skills_form' %>

<h2>My Interests</h2>
<ul>
  <% @user.interests.each do |interest| %>
    <li><%= interest.name %></li>
  <% end %>
</ul>

<p>Add an interest</p>
<%= render 'shared/interests_form' %>