<h1><%= @user.name %></h1>
<img src="<%= @user.image %>">
<h3><%= @user.tagline %></h3>
<p><%= @user.description %></p>
<div>
  <%= @user.email %><br>
  <%= @user.street %><br>
  <%= @user.city %><br>
  <%= @user.state %><br>
  <%= @user.zip%><br>
  <%= @user.latitude %><br>
  <%= @user.longitude %><br>

</div>

<%= link_to 'Cancel Account', {
  url: user_path,
  confirm: "Are you sure you want to leave?",
  method: :delete
} %>
