<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="assets/main.css">

    <%= javascript_include_tag "application" %>

    <title>EPIC SWAP</title>
  </head>

  <body class="welcome">
    <div id="site_intro_container">
      <div id="site_intro" class="stripe">
        <div id="site_name" class="heading">EPIC SWAP</div>
        <%= link_to image_tag("epicswap.png", id: "logo", class: "welcome"), root_path %>
        <div id="tagline" class="heading">share skills &amp; build community</div>

        <%= link_to "click to learn more", root_path, id: "more-info-link" %>
        <div id="more-info">Ever wanted to learn to whitewater kayak? EPIC SWAP is a place for people who love to teach and those who want to learn. EPIC SWAP is designed to introduce you to like minded individuals in your area and quickly get you out learning and teaching new things.<br><br>We value privacy and only use your social network login to get your photo. No passwords will be saved.</div>
      </div>
    </div>
    <div id="login_container">
      <div id="login" class="stripe">
        <div id="login_text" class="heading">Login</div>
        <%= link_to image_tag("fb.png", class: "login_button"), "/auth/facebook", id: "facebook_button" %>
        <%= link_to image_tag("linkedin.png", class: "login_button"), "/auth/linkedin", id: "linkedin_button" %>
      </div>
    </div>
  </body>
</html>
