<tr id="interest_<%= interest.id %>">
  <td class="interest-name"><%= interest.name %></td>
  <td class="counter">
    <% corr_skill = corresponding_skill(interest.name) %>
    <% if corr_skill.blank? || corr_skill.users.length == 0  %>
      0 teachers
    <% else %>
    <%= link_to num_users_by_skills(interest.name),skill_path(corr_skill) %> <%= 'teacher'.pluralize(num_users_by_skills(interest.name)) %>
    <% end %>
  </td>
  <td class="delete-interest"><%= link_to 'delete', user_interest_path(@user, interest), remote: true, :method => :delete, class: 'delete-interest', id: "interest-#{interest.id}", :data => { :id => "#{interest.id}"} if current_user == @user %></td>
</tr>