<tr id="interest_<%= interest.id %>">
  <td class="interest-name"><%= interest.name %></td>
  <td class="counter">
    <% if corresponding_skill(interest.name).blank? || corresponding_skill(interest.name).users.length == 0  %>
      0 teachers
    <% else %>
    <%= link_to num_users_by_skills(interest.name),skill_path(corresponding_skill(interest.name)) %> <%= 'teacher'.pluralize(num_users_by_skills(interest.name)) %>
    <% end %>
  </td>
  <td class="delete-interest"><%= link_to 'delete', user_interest_path(@user, interest), remote: true, :method => :delete, class: 'delete-interest', id: "interest-#{interest.id}", :data => { :id => "#{interest.id}"} if current_user == @user %></td>
</tr>